<app-header></app-header>
<div class="donate-form">
  <div class="donate-content" id="donate">
    <div class="card">
      <img [src]="fundraiserInfo?.IMAGES" alt="" />
      <div class="info">
        <div class="tip">Choose your donation amount for</div>
        <h3 class="title">{{ fundraiserInfo?.CAPTION }}</h3>
      </div>
    </div>
    <div class="user-money">
      <form (ngSubmit)="submitDonation()" #donationForm="ngForm">
        <div>
          <label for="money">Donation amount:</label>
          <input type="number" id="money" name="money" [(ngModel)]="donation" min="0" step="1" required />
          <!-- 显示验证消息 -->
          <div *ngIf="donation < 5 && donationForm.submitted" class="error hRed">Please enter a valid amount (Minimum donation AUD 5)</div>
        </div>
        <div>
          <label for="donorName">Donor Name:</label>
          <input type="text" id="donorName" name="donorName" [(ngModel)]="donorName" required #donorNameInput="ngModel" />
          <div *ngIf="donorNameInput.invalid && (donorNameInput.dirty || donationForm.submitted)" class="error-message hRed">Donor name is required.</div>
        </div>
        <div class="btns">
          <button type="submit" class="button">Submit my donation</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer> </app-footer>
