.details-card {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 32px;
}

.details .details-content {
  margin-top: 70px;
}
.details .details-content .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details .details-content .container .details {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.banner-tag {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  width: 100%;
  line-height: 22px;
  border-radius: 0 0 4px 4px;
  background-color: #f3f3f3;
  color: #212121;
  margin-bottom: 16px;
}

.card-left {
  width: 100%;
}
.card-left img {
  width: 100%;
  border-radius: 10px;
}

.details-info {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.details-info p {
  margin: 0;
  display: flex;
  gap: 8px;
}
.card-right {
  width: 100%;
  min-height: 500px;
  max-height: 700px;
}
.card-card {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 32px;
  box-shadow: -7px -2px 14px 0 rgba(156, 51, 83, 0.18);
  background-color: #f7f7f7;
  z-index: 1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.card-list {
  flex: 1;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-item {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr;
  padding-top: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f1d6de;
}
.via {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: rgba(156, 51, 83, 0.18);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #9c3353;
}
.item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #5d5d5d;
}
.item-info p {
  text-align: start;
  font-size: 14px;
  margin: 4px 0;
}
.item-info .yuan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #212121;
  font-size: 12px;
}

.no-donations {
  margin-top: 16px;
  color: #5d5d5d;
}
