body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
  background-color: #9c3353;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 6px 0 rgba(156, 51, 83, 0.2);
  border-radius: 25px;
  text-align: center;
  padding: 0 16px;
  padding-top: 8px;
  display: block;
}
.button:hover {
  background-color: #9c3353;
}

.fundraisers {
  width: 1200px;
  margin: 0 auto;
  margin-top: 120px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fundraisers h1 {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #212121;
  font-size: 22px;
  padding: 0 15px;
  font-weight: 600;
}
.fundraisers .content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-bottom: 60px;
}

.fundraiser-card {
  width: 100%;
  box-shadow: 0 4px 10px 0 rgba(156, 51, 83, 0.3);
  border-radius: 6px;
  position: relative;
  margin: 0 0 26px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}
.fundraiser-card:hover {
  box-shadow: 0 4px 20px rgba(156, 51, 83, 0.6); /* 鼠标悬停时的阴影效果 */
}

.fundraiser-card img {
  width: 100%;
}

.fundraiser-card .title {
  margin-top: 8px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  font-weight: 700;
  overflow: hidden; /* 隐藏超出部分 */
  white-space: nowrap; /* 强制在同一行显示 */
  text-overflow: ellipsis; /* 超出部分显示省略号 */
}
.fundraiser-card .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 16px;
}
.fundraiser-card .details .flex-com {
  flex-direction: column;
}
.fundraiser-card .details p {
  margin: 0;
  padding: 5px 8px 3px;
  background: hsla(0, 0%, 71%, 0.1);
  display: block;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  max-height: 66px;
}
.fundraiser-card .details .group {
  display: grid;
  grid-template-columns: 40% 60%;
}
.fundraiser-card .details .group > div:first-child {
  /* text-align: right; */
}
.hRed {
  color: red;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fundraisers .goFundraisers {
  display: inline-block;
  font-size: 18px;
  color: #9c3353;
  text-decoration: underline;
}

.download-app-container {
  width: 1200px;
  margin: 40px auto;
  background: #fdf9fa;
  max-width: 1280px;
  border-radius: 10px;
  padding: 25px 0 10px;
  box-shadow: 0 4px 10px 0 rgba(156, 51, 83, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.download-app-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.request-Mobile {
  width: 100%;
  height: 145px;
  background-image: linear-gradient(264deg, #9c3353, #5f2747);
  padding: 30px 0;
}
.request-Mobile .bg-white {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  padding: 20px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.request-Mobile .bg-white div {
  font-size: 24px;
  margin-right: 39px;
}

ul {
  list-style-type: none; /* 去掉项目符号 */
  padding: 0; /* 去掉默认内边距 */
  margin: 0; /* 去掉默认外边距 */
}

li {
  padding: 0; /* 可选：去掉li的内边距 */
  margin: 0; /* 可选：去掉li的外边距 */
}

.search {
  margin-top: 60px;
  width: 1200px;
}
.search .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nothing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 900;
}
.search .form div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.search .btn {
  width: 300px;
  gap: 32px;
  justify-content: flex-end !important;
}
.search .content {
  margin-top: 32px;
}
option[value=''][disabled] {
  display: none; /* 隐藏该选项 */
}
select,
input {
  width: 200px;
  height: 30px;
  border: 1px solid #5d5d5d;
  border-radius: 8px;
}

.details {
  width: 1200px;
  margin: 0 auto;
}
.details .details-content {
  margin-top: 140px;
}
.details .details-content .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details .details-content .container img {
  width: 60%;
}

.details .details-content .container .details {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.donate-form {
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.donate-form .donate-content {
  width: 800px;
  background-color: white;
  padding: 48px 32px;
  box-shadow: 0 4px 10px 0 rgba(156, 51, 83, 0.3);
  border-radius: 18px;
}

/* 进度环 */
#greenLine {
  animation: greenLine_da 1160ms linear normal forwards;
}

@keyframes greenLine_da {
  0% {
    stroke-dasharray: 0, 226;
    animation-timing-function: cubic-bezier(0.3, 0.01, 0, 1);
  }
  100% {
    stroke-dasharray: 179.04, 226;
  }
}

.donate-content .card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  letter-spacing: 0;
}
.donate-content .card img {
  width: 30%;
  border-radius: 10px;
}
.user-money {
  margin-top: 32px;
}
.user-money form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.user-money form input {
  width: 100%;
  height: 54px;
  padding: 0 16px;
  font-size: 32px;
}
.user-money form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.user-money .btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
