<!-- 头部 -->
<app-header></app-header>
<!-- 轮播图 -->
<app-banner></app-banner>
<!-- 列表 -->
<div class="fundraisers">
  <h1>Thousands are fundraising online on HopeChain</h1>
  <div class="content" id="fundraisers">
    <div class="fundraiser-card" id="fundraiser-card" *ngFor="let data of dataList" (click)="to('details', data.FUNDRAISER_ID)">
      <img [src]="images[data.FUNDRAISER_ID - 1]" alt="" />
      <div class="title">{{ data.CAPTION }}</div>
      <div class="details">
        <div class="group">
          <div>City:</div>
          <div>{{ data.CITY }}</div>
        </div>
        <div class="group">
          <div>Organizer:</div>
          <div>{{ data.ORGANIZER }}</div>
        </div>
        <div class="group">
          <div>Category:</div>
          <div>{{ data.CATEGORY_NAME }}</div>
        </div>
        <div class="group">
          <div>Current funds:</div>
          <div>{{ data.CURRENT_FUNDING }}</div>
        </div>
        <div class="group">
          <div>Target financing:</div>
          <div>{{ data.TARGET_FUNDING }}</div>
        </div>
        <div class="group">
          <div>Active:</div>
          <a [class]="{ hRed: data.ACTIVE === 0 }">
            {{ data.ACTIVE === 0 ? 'Inactive' : 'Active' }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <a class="goFundraisers" href="./fundraiser.html">See more fundraisers?</a> -->
</div>
<!-- 卡片 -->
<div class="download-app-container">
  <div>
    <img src="assets/img/app.svg" alt="" />
  </div>
  <div>
    <h1>HopeChain app - fundraise and donate seamlessly!</h1>
    <h4>Set up and manage your fundraiser or donate to different causes from your mobile at anytime and from anywhere</h4>
    <img src="assets/img/qrcode.png" />
    <h4>Scan the QR Code to download app.</h4>
  </div>
</div>
<!-- 装饰 -->
<div class="request-Mobile">
  <div class="bg-white">
    <div>Need help to setup your free fundraiser?</div>
    <a href="#" class="button">Request a call</a>
  </div>
</div>

<app-footer></app-footer>
